@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Barlow", sans-serif;
}

/* .row > * {
  padding-right: 0;
  padding-left: 0;
} */
/* .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
} */
/* ******header *** */

.header-part {
  background-color: #002157;
  height: auto;
  width: 100%;
}

.header-part p {
  padding: 8px 0;
  font-size: 30px;
  margin-top: 5px;
  color: #ffffff;
  font-weight: 500;
}

/* *************section 1****** */
.section-1 {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.banner-div img {
  height: 400px;
  width: 100%;
}
.section-1 h1 {
  font-size: 40px;
  line-height: 50px;
  color: #5e5e5e;
  font-weight: 900;
  text-align: center;
  margin-top: 50px;
}
.section-1 .contact-div {
  background-color: #002157;
  height: auto;
  width: 70%;
  margin-top: 70px;
}
.section-1 .contact-div p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  padding: 0px 0;
  margin-top: 10px;
  text-align: center;
}
/* **********section 2************* */
.section-2 {
  background-color: #e1e1e1;
  padding: 20px 0;
}
.section-2 h1,
.section-4-part2 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "Barlow";
  text-align: center;
}
.section-2 p,
.section-4-part2 p {
  font-size: 25px;
  line-height: 50px;
  color: #737373;
  font-weight: 500;
  font-family: "Nunito";
  text-align: center;
  margin: 20px 0;
}
.section-2 .video-part iframe,
.section-4-part2 .video-part iframe {
  height: 500;
  width: 80%;
}

.section-2 .contact-div {
  background-color: #002157;
  height: auto;
  width: 40%;
  margin: 50px 0;
}
.section-2 .contact-div p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}
/* ******section -3******* */
.section-3 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "Barlow";
  text-align: center;
  margin-top: 70px;
}

.section-3-part {
  float: left;
  margin-top: 80px;
}
.section-3-part .img-div {
  margin-top: 10px;
}
.section-3-part .img-div p {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 500;
}
.section-3-part2 .img-div {
  margin-top: 40px;
  margin-bottom: -50px;
}
.section-3-part2 .img-div p {
  margin-top: 15px;
  font-size: 22px;
  font-weight: 500;
}

/* *******section4******* */
.section-4 {
  background-color: #d7d7d7;
}
.section-4 .section-4-part1 .contact-div {
  background-color: #002157;
  height: auto;
  width: 40%;
  margin: 100px;
}
.section-4 .section-4-part1 .contact-div p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}
.section-4 .section-4-part2 .contact-div {
  background-color: #002157;
  height: auto;
  width: 40%;
  margin: 50px 0;
}
.section-4 .section-4-part2 .contact-div p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
}
/* *************section 5**** */
.section-5 {
  background-color: #f8f9f9;
}
.section-5-part1 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "Barlow";
  text-align: center;
  margin-top: 70px;
}

/* *************section 5**** */
.section-6 {
  background-color: #f8f9f9;
  height: auto;
  width: 100%;
}
.section-6-part {
  background-color: #002157;
  margin-top: 60px;
  margin-bottom: 120px;
}
.section-6-part h1 {
  font-size: 33px;
  padding: 25px 0;
  line-height: 46px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Barlow";
  text-align: center;
}

.list-items .list-group .list-group-item {
  border: none;
  background-color: #f8f9f9;
  font-weight: 600;
  font-size: 20px;
  font-family: "Barlow";
  float: left;
  margin-left: 350px;
}
.list-items2 .list-group .list-group-item {
  border: none;
  background-color: #f8f9f9;
  font-weight: 600;
  font-size: 20px;
  font-family: "Barlow";
  float: left;
  margin-left: 100px;
}
/* ****************footer section******* */
footer {
  background-color: #f8f9f9;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
}
.footer-div p {
  margin-left: 30px;
  margin-top: 10px;
}
.footer-div a {
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

/* **************media query ******* */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-part p {
    padding: 11px 0;
    font-size: 30px;
    line-height: 50px;
  }
} */

@media (max-width: 768px) {
  .header-part p {
    padding: 11px 0;
    font-size: 20px;
    line-height: 40px;
  }
  .banner-div img {
    height: 260px;
    width: 100%;
  }
  .section-1 h1 {
    font-size: 30px;

    margin-top: -45px;
  }
  .section-1 .contact-div p {
    color: #ffffff;
    font-size: 21px;
  }
  .section-1 .contact-div {
    margin-top: 20px;
    width: 80%;
  }
  .section-2 h1,
  .section-4-part2 h1 {
    font-size: 33px;
  }
  .section-2 p,
  .section-4-part2 p {
    font-size: 25px;
    line-height: 41px;
    padding: 20px 0;
  }
  .section-2 .video-part iframe,
  .section-4-part2 .video-part iframe {
    height: 40vh;
    width: 100%;
  }
  .section-2 .contact-div {
    width: 90%;
    margin: 50px 0;
  }
  .section-2 .contact-div p {
    font-size: 22px;
    padding: 15px 0;
  }
  .section-3 h1 {
    font-size: 47px;
    margin-top: 80px;
  }
  .section-3-part {
    float: left;
    margin-top: 50px;
  }
  .section-3-part2 .img-div {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .section-4 .section-4-part1 .contact-div {
    width: 90%;
    margin: 50px 0;
  }
  .section-4 .section-4-part1 .contact-div p {
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    padding: 15px 0;
    text-align: center;
  }
  .section-2 h1,
  .section-4-part2 h1 {
    font-size: 40px;
  }
  .section-5-part1 h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .list-items .list-group .list-group-item {
    font-size: 25px;
    font-family: "Barlow";
    float: left;
    margin-left: 0px;
  }
  .list-items2 .list-group .list-group-item {
    font-size: 25px;
    margin-left: 0px;
  }
  .section-6-part h1 {
    font-size: 28px;
    line-height: 50px;
    padding: 20px 0;
  }
  .footer-div a {
    margin-right: 5px;
    font-size: 20px;
  }
  .footer-div p {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
  }
}

/* @media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  .header-part p {
    padding: 11px 0;
    font-size: 17px;
    line-height: 35px;
  }
}

@media only screen and (min-width: 992px) {
  .header-part p {
    padding: 11px 0;
    font-size: 30px;
    line-height: 50px;
  }
} */
