@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Barlow", sans-serif;
}

footer .container-fluid .row > * {
  padding-right: 0;
  padding-left: 0;
}

/* ******header *** */
.header-part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}
.header-part1 h1 {
  margin-left: 20px;
}
.header-part1 a {
  text-decoration: none;
  font-size: 35px;
  line-height: 86px;
  color: #000000;
  font-weight: 600;
  font-family: "Nunito";
  text-align: center;
  margin-right: 20px;
}
.header-part {
  background-color: #3366ff;
  height: auto;
  width: 100%;
}

.header-part p {
  padding: 8px 0;
  font-size: 30px;
  margin-top: 5px;
  color: #ffffff;
  font-weight: 500;
}

/* *************section 1****** */
.section-1 {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.section-1 h1 {
  font-size: 69px;
  line-height: 72px;
  color: #000000;
  font-weight: 700;
  font-family: "Nunito";
  letter-spacing: 1px;
  text-align: center;
  margin-top: 70px;
}
.section-1 h1 > span {
  color: #3366ff;
}
.watch-section .contact-div {
  background-color: black;
  height: auto;
  margin: 0 20px;
  margin-top: 40px;
  margin-bottom: -15px;
}
.watch-section .contact-div p {
  color: #ffffff;
  font-size: 28px;
  font-weight: 600;
  padding: 0px 0;
  margin-top: 10px;
  text-align: center;
  padding: 5px 0;
}
/* **********section 2************* */
.video-part {
  height: auto;
  width: 100%;
}
.video-part i {
  display: none;
}
.section-2 {
  background-color: #afb1b3;
  padding: 80px 0;
}
.section-2 h1,
.section-4-part2 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "Barlow";
  text-align: center;
}
.section-2 p,
.section-4-part2 p {
  font-size: 25px;
  line-height: 40px;
  color: #737373;
  font-weight: 500;
  font-family: "Nunito";
  text-align: center;
  margin: 20px 0;
}
.section-2 .video-part iframe,
.section-4-part2 .video-part iframe {
  height: 75vh;
  width: 66%;
}

.arrow-div .contact-div {
  background-color: #002157;
  height: auto;
  width: 100%;
  margin: 80px 0 0 0;
}
.section-2 .contact-div p {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}

.section-2 .arrow-div {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}
.arrow-div img {
  height: 100px;
  margin: 20px 50px 0 50px;
}

/* ******section -3******* */
.section-3 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "Barlow";
  text-align: center;
  margin-top: 70px;
}
.section-3 hr {
  border: 1px solid #002157;
  color: #002157;
  width: 30%;
  margin-top: 20px;
}
.section-3-div,
.section-4 {
  margin: 50px 0;
  background-image: linear-gradient(to top, #d7e4ea, #fff);
  /* background-image: linear-gradient(
    rgba(215, 228, 234, 0.1),
    rgba(215, 228, 234, 0.9)
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
/* .section-3-part {
  background-image: linear-gradient(
      rgba(215, 228, 234, 0.1),
      rgba(215, 228, 234, 0.9)
    ),
    url(../img/sell-product.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */
/* .section-4-part2 {
  background-image: linear-gradient(
      rgba(215, 228, 234, 0.1),
      rgba(215, 228, 234, 0.9)
    ),
    url(../img/onlinecourse.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
} */

.section-3-part img,
.section-4-part2 img {
  height: 200px;
  width: 70%;
  margin-top: 0;
}
.section-3-part2,
.section-4-part {
  height: auto;
}
.section-3-part2 h2 {
  margin-top: 50px;
}
.section-3-part2 h2,
.section-4-part h2 {
  font-size: 35px;
  line-height: 40px;
  color: #1c4689;
  font-weight: 300;
  text-align: justify;
  font-family: "Barlow";
  /* margin-top: 50px; */
}
.section-3-part2 p,
.section-4-part p {
  font-size: 24px;
  line-height: 39px;
  text-align: justify;
  margin-top: 20px;
  color: #737373;
  font-weight: 400;
  font-family: "Nunito";
}
/* *****************section 5******* */
.section-5 {
  background-color: blue;
}

.section-part1-5-part1 img,
.section-part2-5-part2 img,
.section-part3-5-part1 img {
  height: 200px;
  width: 50%;
  background-image: linear-gradient(to top, #d7e4ea, #f2f3f4);
  padding-top: 10px;
}
.section-part1-5-part2 h2,
.section-part2-5-part1 h2,
.section-part3-5-part2 h2 {
  font-size: 35px;
  line-height: 40px;
  color: #1c4689;
  font-weight: 300;
  text-align: justify;
  font-family: "Barlow";
}
.section-5-div,
.section-5-div2,
.section-5-div3 {
  background-image: linear-gradient(to top, #d7e4ea, #f2f3f4);
  /* margin-top: 50px; */
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.section-part1-5-part2 p,
.section-part2-5-part1 p,
.section-part3-5-part2 p {
  font-size: 24px;
  line-height: 39px;
  text-align: justify;
  margin-top: 20px;
  color: #737373;
  font-weight: 400;
  font-family: "Nunito";
}

/* *****section 6***** */
.section-6 {
  background-color: #f2f3f4;
  padding-top: 50px;
}
.section-6 .contact-div {
  background-color: #002157;
  height: auto;
  width: 70%;
}
.section-6 .contact-div p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
}
.section-6-part1 {
  padding: 10px 0 50px 0;
}
.section-6-part1 p {
  font-size: 24px;
  line-height: 39px;
  text-align: center;
  margin-top: 20px;
  color: #737373;
  font-weight: 400;
  font-family: "Nunito";
}

/* ****************footer section******* */
footer {
  background-color: #f8f9f9;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  /* margin-bottom: 10px; */
  background-color: black;
  color: #fff;
}
.footer-div p {
  margin-left: 30px;
  margin-top: 10px;
}
.footer-div a {
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

/* **************media query ******* */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header-part p {
    padding: 11px 0;
    font-size: 30px;
    line-height: 50px;
  }
} */

@media (max-width: 768px) {
  /* **** */
  .header-part1 a {
    font-size: 25px;

    margin-right: 5px;
  }
  .section-1 h1 {
    font-size: 50px;
    line-height: 59px;

    letter-spacing: 0;

    margin-top: 60px;
  }
  .watch-section {
    width: 100%;
  }
  .watch-section .contact-div {
    background-color: #002157;
    height: auto;
    margin: 0 -13px 0 -13px;
    margin-top: 30px;
    margin-bottom: -15px;
  }
  .watch-section .contact-div p {
    color: #ffffff;
    font-size: 21px;
  }
  .video-part i {
    display: block;
    padding: 30px 0;
    font-size: 40px;
    color: #3366ff;
    font-weight: 400;
  }
  .section-2 {
    background-color: #afb1b3;
    padding: 0px 0;
  }
  .section-2 .video-part iframe,
  .section-4-part2 .video-part iframe {
    height: 40vh;
    width: 100%;
  }
  .section-2 .contact-div {
    width: 95%;
    margin: 30px 0;
  }
  .section-2 .contact-div p {
    font-size: 23px;

    padding: 0px 0;
  }
  .section-2 img {
    display: none;
  }

  .section-3-div {
    margin: 30px 0;
  }
  .section-3-div,
  .section-4 {
    height: auto;
  }
  .section-3 h1 {
    font-size: 47px;
    line-height: 60px;
    color: #434242;
    font-weight: 900;
    font-family: "Barlow";
    text-align: center;
    margin-top: 60px;
  }
  .section-3 hr {
    width: 60%;
  }
  .section-3-part2 h2,
  .section-4-part h2 {
    font-size: 28px;
    line-height: 40px;
    text-align: center;
  }
  .section-3-part2 p,
  .section-4-part p {
    font-size: 21px;
    line-height: 39px;
    text-align: center;
  }

  .section-3-part img,
  .section-4-part2 img {
    height: 200px;
    width: 100%;
    margin-top: 0px;
  }
  .section-3-part2,
  .section-4-part {
    height: auto;
    background-image: none;
  }
  .section-part1-5-part2 h2,
  .section-part2-5-part1 h2,
  .section-part3-5-part2 h2 {
    font-size: 30px;

    text-align: center;
  }
  .section-part1-5-part2 p,
  .section-part2-5-part1 p,
  .section-part3-5-part2 p {
    font-size: 22px;
    line-height: 39px;
    text-align: center;
  }
  .section-part1-5-part1 img,
  .section-part2-5-part2 img,
  .section-part3-5-part1 img {
    height: 200px;
    width: 80%;
    background-image: none;
    padding-top: 10px;
  }

  .section-5-div,
  .section-5-div2,
  .section-5-div3 {
    height: auto;
  }
  .section-6 .contact-div {
    width: 100%;
  }
  .section-6 .contact-div p {
    color: #ffffff;
    font-size: 23px;

    padding: 15px 0;
  }
  .section-6-part1 {
    padding: 10px 0 35px 0;
  }
  .section-6-part1 p {
    font-size: 23px;
    line-height: 35px;
  }

  .footer-div a {
    margin-right: 5px;
    font-size: 20px;
  }
  .footer-div p {
    margin-left: 5px;
    margin-top: 13px;
    font-size: 17px;
    font-weight: 500;
  }
}
