@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,600;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0rem;
  padding-left: 0rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0;
  display: flex;
  flex: 1 0 100%;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

footer .container-fluid .row > * {
  padding-right: 0;
  padding-left: 0;
}

/* ******header *** */
.logo {
  width: 25%;
  height: auto;
  margin-left: 130px;
}
.menue1 {
  padding: 25px 0 0 0;
}
.menue1 a {
  font-size: 22px;

  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.heading-div {
  padding: 7spx 0;
}
.header-part1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
}
.header-part1 img {
  height: auto;
  width: 200px;
}

.header-part1 a {
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
  color: black;
}
/* .heading-div a{
  text-decoration: none;
  color: #000;
  font-size: 22px;
  text-decoration: none;
} */

.align-items-center {
  align-items: center !important;
  padding: 0 10px 0 10px;
}
/*--------------------------------Section-1----------------------------*/
.st001 {
  background: #3366ff;
}

.st001 p {
  font-size: 23px;
  color: #ffffff;
  margin: 0;
  line-height: 54px;
  text-transform: capitalize;
}

/*-------------------------------- END Section-1----------------------------*/

/*--------------------------------Section-2---------------------------------*/
.st002 {
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.st002 h1 {
  font-size: 50px;
  font-weight: 800;
  font-family: "Nunito";
  text-transform: capitalize;
  padding: 55px 0 55px 0;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}
.st002 h1 > span {
  color: #3366ff;
}
/*-------------------------------- END Section-2----------------------------*/
/*--------------------------------Section-2---------------------------------*/
.st003 {
  margin-right: auto;
  margin-left: auto;
}
.flex-container {
  display: flex;
  justify-content: center;
}
.flex-container div {
  text-align: center;
  font-size: 30px;
}
.btn1 {
  font-size: 25px;
  color: #06067f;
  background: #ffffff;
  line-height: 2.3;
  padding: 5px 20px 5px 20px;
}

.btn2:hover {
  color: yellow;
}
.box2 {
  background: #d4d7ed;
  padding: 5px;
  padding-top: 25px;
}

.btn2 {
  color: white;
  background: #06067f;
  margin-top: 105px;
  line-height: 2.3;
  padding: 5px 20px 5px 20px;
}

/*-
/*-------------------------------- END Section-2----------------------------*/
/*-------------------------------- END Section-3----------------------------*/
.st004 {
  margin-top: 28px;
}
.st004 h1 > span {
  color: #3366ff;
}
.st004 h1 {
  font-size: 50px;
  line-height: 60px;
  color: #434242;
  font-weight: 900;
  font-family: "nunito";
  text-align: center;
  margin-top: 70px;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.basic-2 {
  background-image: linear-gradient(to top, #d7e4ea, #f2f3f4);
  padding: 34px 0 30px 0;
}
.basic-2 .text-container {
  margin-top: 1.7rem;
  margin-right: 1rem;
  margin-left: 9rem;
}
.image-container {
  justify-content: center;
  margin-top: -24px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.text-container p {
  font-size: 17px;
  display: block;
  color: gray;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*-------------------------------- END Section-3----------------------------*/
/*-------------------------------- END Section-3----------------------------*/
.st005 {
}
.st005 p {
  font-size: 27px;
  text-align: center;
  width: 60%;
  padding: 50px 0 30px 0;
  margin-left: auto;
  margin-right: auto;
  color: #0707b3;
  font-weight: 500;
}
/*-------------------------------- END Section-3----------------------------*/

.st006 {
  background: black;
}
.st006 p {
  color: white;
}
.st006 a {
  color: white;
  text-decoration: none;
}
.terms {
  color: white;
  text-align: right;
}
.cpr p {
  padding-top: 15px;
}

@media screen and (max-device-width: 640px), screen and (max-width: 767px) {
  .row_reverse {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .st001 {
    background: #3366ff;
  }
  .st001 p {
    font-size: 16px;
    margin: 0;
    line-height: 1.4;
    padding: 6px 10px 6px 10px;
    text-transform: capitalize;
    letter-spacing: 1.1px;
  }

  /*-------------------------------- END Section-1----------------------------*/

  /*--------------------------------Section-2---------------------------------*/
  .st002 {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }
  .st002 h1 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Nunito";
    text-transform: capitalize;
    padding: 40px 10px 40px 10px;
    width: 100%;
  }
  .st002 h1 > span {
    color: #3366ff;
  }
  /*-------------------------------- END Section-2----------------------------*/
  /*--------------------------------Section-2---------------------------------*/
  .st003 {
    margin-right: auto;
    margin-left: auto;
  }
  .flex-container {
    display: flex;
    justify-content: center;
  }
  .flex-container div {
    text-align: center;
    font-size: 30px;
  }
  .btn1 {
    color: #00f;
    background: #ffffff;
    line-height: 2.3;
    padding: 5px 15px 5px 15px;
  }
  .box2 {
    background: #d4d7ed;
    padding: 15px 10px 5px 10px;
  }
  .arrow-section {
    margin: 14px 0 14px 0;
  }
  .arrow-section img {
    width: 9%;
  }

  .btn2 {
    margin-top: 0;
    line-height: 2.3;
    padding: 3px 9px 4px 9px;
  }

  .btn3 {
    color: white;
    background: #06067f;
    line-height: 2.3;
    padding: 5px 20px 5px 20px;
  }
  /*-
/*-------------------------------- END Section-2----------------------------*/
  /*-------------------------------- END Section-4----------------------------*/
  .st004 {
    margin-top: 28px;
  }
  .st004 h1 {
    font-size: 36px;
    line-height: 44px;
    color: #434242;
    font-weight: 900;
    font-family: "nunito";
    text-align: center;
    margin-top: 7px;
  }
  .col-2 {
    width: 100%;
    flex: 0 0 auto;
    /* width: 16.666667%; */
  }
  .col-8 {
    width: 100%;
    flex: 0 0 auto;
    /* width: 16.666667%; */
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .basic-2 {
    padding-top: 0.75rem;
    padding-bottom: 0rem;
  }
  .basic-2 .text-container {
    margin-top: 3rem;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
  }
  .image-container {
    justify-content: center;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .text-container p {
    font-size: 17px;
    color: gray;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .st005 p {
    font-size: 17px;
    text-align: center;
    width: 100%;
    padding: 50px 15px 30px 15px;
    margin-left: auto;
    margin-right: auto;
    color: #0707b3;
    font-weight: 500;
  }
  .st006 {
    padding: 0px 5px 0 5px;
    margin-bottom: 0;
  }
  /*-------------------------------- END Section-3----------------------------*/
}

@media (max-width: 768px) {
  .logo {
    width: 60%;
    margin-left: 0;
  }
  .menue1 {
    padding: 9px 0 0 0;
  }

  .menue1 a {
    font-size: 22px;

    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
  .heading-div {
    padding: 7px 0;
  }
}
